

*
{
    background-color: #FDE09D;
    box-sizing: border-box;
    color: #5D5031;
    margin: 0;
    padding: 0;
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
}

.preahvihear-regular {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
Navbar code based from: dhyans.xyz -(modified)
*/
.navbar {
    padding: 0;
    margin: 0;
    background-color: #B875FF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position : sticky;
    top: 0;
    z-index: 1000;
    font-family: "Preahvihear", sans-serif;
    font-weight: 700;
}

.navbar__container{
    background-color: #B875FF;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 5000px;
    margin: 0 auto;
    padding: 0 600px;
}

.navbar__menu{
    padding: 0;
    background-color: #B875FF;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
}

.navbar__item {
    padding: 0;
    background-color: #B875FF;
    height: 80px;
    margin: 0;
}

.navbar__links{
    background-color: #B875FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;

}

.navbar__btn {
    background-color: #B875FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    width: 100%;
}

h, h1, h2, h3, h4, h5, h6, p, footer {
padding-left: 50px;
padding-right: 50px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 30px;
}

p {
    font-size: 20px;
}

footer{
    background-color: #5D5031;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}
